{% extends "base.html" %}
{% block body_title %}
Для интерьера не бывает мелочей
{% endblock %}
{% block content %}
    <br />
<p>Отлично подобранное напольное покрытие,
<p>материал отделки стен преобржает любое помещение.
<p>Но только лишь элементы отделки и декора придают дизайнерскому проекту
<p>законченный и изысканный вид.
<p>Частное предприятие "Синдекор" представляет в Беларуси продукцию ведущих
<p>российских компаний - лидеров рынка отделочных материалов.
<p>Ассортимент продукции постоянно расширяется.
{% endblock %}
