{% extends "base.html" %}
{% block body_title %}
<a href="/catalog/" style="margin-left: 0px;">Каталог</a> >> {{ section.name }}
{% endblock %}
{% block content %}
<br />
    {% autoescape off %}
        {{ section.desc }}
    {% endautoescape %}
<table border="0">
    <tr>
{% for commodity in commodities %}
    <td>
    <a href="{% url 'catalog:detail' commodity.section commodity.latin_name %}">
        <img src="{{ MEDIA_URL }}{{ commodity.img }}" width="40" height="40">
    </a>
    <a href="{% url 'catalog:detail' commodity.section commodity.latin_name %}">{{ commodity.name }}</a>
    </td>
    {% if forloop.counter|divisibleby:2 %}
        </tr><tr>
    {% endif %}
{% endfor %}
    </table>
{% endblock %}
